aioredis==2.0.1
beanie==1.23.6
celery==5.3.6
fastapi==0.109.2
googlesearch-python==1.2.3
langchain==0.0.351
motor==3.3.2
openai==1.6.1
pydantic==1.10.9
python-multipart==0.0.6
redis==5.0.1
requests==2.31.0
uvicorn==0.25.0
websockets==12.0
pymilvus==2.3.4
pypdf2==3.0.1
spacy==3.7.2
markdownify==0.11.6
playwright==1.39.0
tiktoken==0.5.2
