.table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    font-size: 0.9em;
    font-family: 'Arial', sans-serif;
    min-width: 400px;
}

.table th,
.table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.table thead th {
    background-color: #f3f3f3;
    color: #333;
}
